nav{
    display: flex;
    justify-content: flex-end;
}

li{
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 5px;
}

li, h2{
    text-transform: uppercase;
}