nav{
    display: flex;
    justify-content: flex-end;
}

li{
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 5px;
}

li, h2{
    text-transform: uppercase;
}

.certificate_figs{
    border: 1px black solid;
    border-radius: 10%;
    height: 350px;
    width: 500px;
}

.certificate_imgs{
    height: 90%;
}