nav{
    display: flex;
    justify-content: flex-end;
}

li{
    list-style-type: none;
    display: inline;
    text-align: center;
    margin-right: 5px;
}

li, h2{
    text-transform: uppercase;
}

.certificate_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.certificate_figs{
    border: 1px black solid;
    border-radius: 2%;
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.certificate_imgs{
    height: 98%;
    width: 98%;
    border-radius: 2%;
    
}

figcaption{
    text-align: center;
}